# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/x64/Debug/ZERO_CHECK
*.recipe
build/Debug/Assignment_2_D3D11.pdb
build/Assignment_2_D3D11.vcxproj.user
build/Assignment_2_D3D11.dir/Debug/vc143.pdb
build/Assignment_2_D3D11.dir/Debug/Assignment_2_D3D11.log
build/Assignment_2_D3D11.dir/Debug/Assignment_2_D3D11.ilk
build/.vs/Assignment_2_D3D11/v17/Solution.VC.db-wal
build/.vs/Assignment_2_D3D11/v17/Solution.VC.db-shm
build/.vs/Assignment_2_D3D11/v17/Solution.VC.db
build/.vs/Assignment_2_D3D11/v17/Browse.VC.opendb
build/.vs/Assignment_2_D3D11/v17/Browse.VC.db-wal
build/.vs/Assignment_2_D3D11/v17/Browse.VC.db-shm
build/.vs/Assignment_2_D3D11/v17/Browse.VC.db
build/.vs/Assignment_2_D3D11/v17/.suo
build/.vs/Assignment_2_D3D11/FileContentIndex/read.lock
build/.vs/Assignment_2_D3D11/FileContentIndex/3f58935a-e957-4b67-abb8-cdbcd6778ade.vsidx
build/.vs/Assignment_2_D3D11/v17/ipch/AutoPCH/c1d146dff076686/MAIN.ipch
build/.vs/Assignment_2_D3D11/v17/ipch/AutoPCH/df49d2739183d1e9/LOAD_OBJECT_ORIENTED.ipch
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/Assignment_2_D3D11.lastbuildstate
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CL.command.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CL.read.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CL.write.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CustomBuild.command.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CustomBuild.read.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/CustomBuild.write.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/link.command.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/link.read.1.tlog
build/Assignment_2_D3D11.dir/Debug/Assignme.0336F100.tlog/link.write.1.tlog
build/.vs/Assignment_2_D3D11/FileContentIndex/117c9ceb-69a1-4e6f-800a-5199b34aee02.vsidx
